:root{--branding-color:#f1f0f0;
--basic-colors: #6C63FF;
--second-brand-color: #ffc0cb;
--background-colours: #f9f7fe;
--primary-font: 'Poppins', sans-serif;
--grand-font: 'Playfair Display', serif;}

body{background-color: var(--background-colours);
    
}

h1{font-family: var(--grand-font);
font-size: 96;
}

h2{font-family: var(--grand-font);
font-size: 50px;
}

p{
font-family: var(--primary-font);
font-size: 16px;
line-height: 2;
}

.sub-title{font-family: var(--primary-font);
text-align: center;}

.active{color: var(--basic-colors) !important;}


.hero{text-align: center; 
}
.hero p{font-family: var(--primary-font);
    font-size: 36;
    font-weight: bold;
padding:60px 0 0 0;}
    
.hero h3{font-family: var(--primary-font);
        font-size: 24;
        line-height: 1.5;
        margin-bottom: 20px;
      
    }
.btn-branding{
    color: white;
    background: var(--basic-colors);
    font-family: var(--primary-font);
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 4px;
}

.brand-content{
    padding: 80px 20px;
}

.btn-branding-app{
    border: 1px solid var(--basic-colors);
}

.content-block{padding: 60px 40px;
    }

.content-details h1{
    font-size: 40px;
line-height: 1;
}

.content-details h2{font-size: 18px;
font-family: var(--primary-font);
font-weight: bold;}

.content-details p{font-size: 16px;
    font-family: var(--primary-font);
line-height: 1.5;}

.inquire-section{ font-weight: 18px;
    text-align: centre;
   padding: 30px 120px;
    margin: 20px;
    border: 0.5 solid 5px;
    background: var(--branding-color);}

.contact-email{
    text-align: center;
    }

.contact-email a{text-decoration: none;
    line-height: 2;
    font-weight: 30px;
}

.social-links i{
    font-weight: 18px;
    color: var(--basic-colors);
    padding: 10px 12px;
    line-height: 1.5;
    margin: 20px;
    border: 0.5 solid 5px;
    border-radius:50%;
    background: var(--branding-color);
 
}

nav .nav-item a:hover,
footer .contact-email a:hover
{color: var(--second-brand-color) !important;}

@media(max-width: 800px) {
    h2{font-size: 36px;}
    p{line-height: 1.5;}
    .brand-content{padding: 20px 10px;}
    .hero p{padding: 40px 0 0 0;}
}